USE [master]
GO
/****** Object:  Database [QLPHONGTAPGYM]    Script Date: 3/14/2018 9:42:11 PM ******/
CREATE DATABASE [QLPHONGTAPGYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPHONGTAPGYM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.HUNG27127\MSSQL\DATA\QLPHONGTAPGYM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPHONGTAPGYM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.HUNG27127\MSSQL\DATA\QLPHONGTAPGYM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPHONGTAPGYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPHONGTAPGYM]
GO
USE [QLPHONGTAPGYM]
GO
/****** Object:  DatabaseRole [QUANLY]    Script Date: 3/14/2018 9:42:12 PM ******/
CREATE ROLE [QUANLY]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 3/14/2018 9:42:12 PM ******/
CREATE ROLE [NHANVIEN]
GO
ALTER ROLE [db_owner] ADD MEMBER [QUANLY]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [QUANLY]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [QUANLY]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [QUANLY]
GO
ALTER ROLE [db_datareader] ADD MEMBER [QUANLY]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [QUANLY]
GO
ALTER ROLE [db_owner] ADD MEMBER [NHANVIEN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NHANVIEN]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NHANVIEN]
GO
/****** Object:  Table [dbo].[CTDICHVU]    Script Date: 3/14/2018 9:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDICHVU](
	[MATHE] [nchar](10) NOT NULL,
	[MADICHVU] [nchar](10) NULL,
	[THOIHANDICHVU] [int] NULL,
	[SOTIENHOANTRA] [int] NULL,
	[SONGAYNGHI] [int] NULL,
 CONSTRAINT [PK_CTDICHVU] PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOIDICHVU]    Script Date: 3/14/2018 9:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOIDICHVU](
	[MADICHVU] [nchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](50) NULL,
	[GIADICHVU] [int] NULL,
	[GIAMGIA] [int] NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_GOIDICHVU] PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIVIEN]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIVIEN](
	[MAHOIVIEN] [nchar](10) NOT NULL,
	[TENHOIVIEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_HOIVIEN] PRIMARY KEY CLUSTERED 
(
	[MAHOIVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[MUCLUONG] [int] NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[MANQL] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGTAP]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGTAP](
	[TENPHONGTAP] [nvarchar](50) NULL,
	[MANQL] [nchar](10) NOT NULL,
	[TENNQL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_PHONGTAP] PRIMARY KEY CLUSTERED 
(
	[MANQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIA] [int] NULL,
	[NGUONGOC] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENNHANVIEN] [nvarchar](50) NULL,
	[TEN_USER] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[MANQL] [nchar](10) NULL,
	[QUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN_1] PRIMARY KEY CLUSTERED 
(
	[TEN_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MAHOADON] [nchar](10) NOT NULL,
	[MADICHVU] [nchar](10) NULL,
	[MATHE] [nchar](10) NULL,
	[MASP] [nchar](10) NULL,
	[SLSP] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEHOIVIEN]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEHOIVIEN](
	[MATHE] [nchar](10) NOT NULL,
	[MANQL] [nchar](10) NULL,
	[MAHOIVIEN] [nchar](10) NULL,
	[NGAYDANGKY] [date] NULL,
	[NGAYHETHAN] [date] NULL,
 CONSTRAINT [PK_THEHOIVIEN] PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 3/14/2018 9:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [nchar](10) NOT NULL,
	[TENTB] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[NAMSX] [int] NULL,
	[HANGSX] [nvarchar](50) NULL,
	[GIATB] [int] NULL,
	[MANQL] [nchar](10) NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTDICHVU_GOIDICHVU] FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[GOIDICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[CTDICHVU] CHECK CONSTRAINT [FK_CTDICHVU_GOIDICHVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGTAP1] FOREIGN KEY([MANQL])
REFERENCES [dbo].[PHONGTAP] ([MANQL])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGTAP1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHONGTAP] FOREIGN KEY([MANQL])
REFERENCES [dbo].[PHONGTAP] ([MANQL])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHONGTAP]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHTOAN_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_THANHTOAN_SANPHAM]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHTOAN_THEHOIVIEN] FOREIGN KEY([MATHE])
REFERENCES [dbo].[THEHOIVIEN] ([MATHE])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_THANHTOAN_THEHOIVIEN]
GO
ALTER TABLE [dbo].[THEHOIVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THEHOIVIEN_CTDICHVU] FOREIGN KEY([MATHE])
REFERENCES [dbo].[CTDICHVU] ([MATHE])
GO
ALTER TABLE [dbo].[THEHOIVIEN] CHECK CONSTRAINT [FK_THEHOIVIEN_CTDICHVU]
GO
ALTER TABLE [dbo].[THEHOIVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THEHOIVIEN_HOIVIEN] FOREIGN KEY([MAHOIVIEN])
REFERENCES [dbo].[HOIVIEN] ([MAHOIVIEN])
GO
ALTER TABLE [dbo].[THEHOIVIEN] CHECK CONSTRAINT [FK_THEHOIVIEN_HOIVIEN]
GO
ALTER TABLE [dbo].[THEHOIVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THEHOIVIEN_PHONGTAP] FOREIGN KEY([MANQL])
REFERENCES [dbo].[PHONGTAP] ([MANQL])
GO
ALTER TABLE [dbo].[THEHOIVIEN] CHECK CONSTRAINT [FK_THEHOIVIEN_PHONGTAP]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_PHONGTAP] FOREIGN KEY([MANQL])
REFERENCES [dbo].[PHONGTAP] ([MANQL])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_PHONGTAP]
GO
USE [master]
GO
